<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{%- if description %}
<meta name="description" content="{{ description }}">
{%- endif %}
<meta property="og:title" content="{{ title }}">
{%- if description %}
<meta property="og:description" content="{{ description }}">
{%- endif %}
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Spectral:wght@400;500;600;700&family=IBM+Plex+Sans:wght@400;500;600&display=swap" rel="stylesheet">
{%- if leaflet %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
{%- endif %}
<link rel="stylesheet" href="{{ '/css/style.css' | url }}">
</head>
<body class="{{ bodyClass }}">

{% include "header.njk" %}

{{ content | safe }}

{% include "footer.njk" %}

{%- if leaflet %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{%- endif %}
{%- for src in extraScripts %}
<script src="{{ src | url }}"></script>
{%- endfor %}
</body>
</html>
